<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EJS Example</title>
  </head>
  <body>
    <h1>Welcome to the EJS Example!</h1>
    <button onclick="register()">Register</button>
    <script>
      <%- registerInServer %>
      function register() {
        console.log('Client-side register function called!');
        serverSideRegister();
      }
      function serverSideRegister() {
        <%- registerInServer %>
      }
    </script>
  </body>
</html>
